<ion-view class="home_hot_top" view-title="首页">
  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="dorefresh()"></ion-refresher>
    <ion-list ng-repeat="item in weeklymovies">
      <ion-item class="item item-avatar">
        <a href="#/detail/{{item.subject.id}}" style="width: 100%;position: relative;left: -25%" >
         <div class="row">
           <img class="col-md-2 col-sm-2" ng-src="{{item.subject.images.small}}">
           <div class="col-md-9 col-sm-19" style="position: relative;left: -20px">
             <h3 style="font-size: 18px;color: black">{{item.subject.title}}</h3>
             <p>主演: <span ng-repeat="cast in item.subject.casts">{{cast.name}}{{$last?'':'、'}}</span></p>
             <p>导演：<span ng-repeat="director in item.subject.directors">{{director.name}}{{$last?'':'、'}}</span></p>
             <p>类型：<span>{{item.subject.genres.join('、')}}</span></p>
             <span style="position: relative;left: 200px;font-size: 18px;border: 1px solid red;padding: 10px;color: red;border-radius: 5px">购票</span>
           </div>
         </div>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

