
#header{
  background-color:#4DCEB9 ;
  height: 230px;
  width: 100%;


}

#myimg{
  border-radius: 50%;
position: relative;

  height: 90px;
  width: 90px;
  left: 40%;
  top: 30%;
}

#myp{


  color: white;
  position: relative;
  top: -66px;
  left: 40%;
  font-size: 20px;

}

#myp2{
  background-color:#F5C023 ;
  height: 23px;
  width: 75px;
  color: white;
  border-radius: 10px;
  position: relative;
  top: -62px;
  left: 42%;


}


#myspan{
  font-size: 8px;
 color: white;
  padding: 5px;
}

.glyphicon-th-list{
  color: #F3B31D;
  padding-left: 10px;
  font-size: 20px;
  padding-top: 5px;
}



.mycontent{
  position: relative;
  top: -50px;
  border-top: 10px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 10px;
  padding-top: 3px;
}

#myorder{
  padding-left: 10px;
  padding-bottom: 10px;
}



#order{
 float: right;
  margin: 10px;
}

#myrow{
  color: #AFAEAE;
}

.mylogo{
  color:#959595 ;
}

.col>.mylogo>p{
 position: relative;
  left: -10px;
}

.mycontent2{
  position: relative;
  top: -70px;


}

.glyphicon-qrcode{
  color: #00BA9C;
}

#myid1{
  position: relative;
  top: -30px;
  left: 20px;
}

.mypay{
  padding-left: 10px;
  position: relative;
  top: -5px;
}

.glyphicon-menu-right{
font-size: 15px;
 position: relative;
  left: 60%;
  color: #A8A8A8;
}

.myid2{

  position: relative;
  top: -10px;
  left: 20px;


}

.glyphicon-calendar{
  color:#F38756 ;
}

#right{
  position: relative;
  left: 57%;
  font-size: 15px;
  color: #A8A8A8;
}

.myid3{

  position: relative;
  top: 8px;
  left: 20px;

}

#right1{
  position: relative;
  left: 53%;
  font-size: 15px;
  color: #A8A8A8;
}

.myid4{
  position: relative;
  top: 30px;
  left: 27px;

}


#right2{
  position: relative;
  left: 55%;
  font-size: 15px;
  color: #A8A8A8;
}

.glyphicon-credit-card{
  color: #ED75B8;
}
