
.col{
  position: relative;
  top: 10px;
  background-color: white;
  padding: 8px;
  left: 20px;
  border-bottom: 2px solid #F2F2F2;
  border-radius: 2px;

  font-size: 15px;

}
.glyphicon{
  color: #5abfff;
  font-size: 25px;

}

.col-demo{
position: relative;
  top: -7px;
  left: 10px;
}

#myrow{
  position: relative;
  top: 20px;
  left: 15px;
  border-top: 10px solid #F2F2F2 ;

}

#myrow>span{
  color: red;
  padding-top: 15px;
}

#div1{
  background-color: #F2F2F2;
height: 150px;
  width: 100%;
  position: relative;
  top: 25px;
}
